<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crystallum</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="{{ url_for('static', filename='css/style.css') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <!-- header -->
    <div class="cont" style="width: 1000px; margin: 0 auto;">
        <div class="header d-flex flex-row align-items-center justify-content-between border-bottom">
            <img class="logo" src="../static/img/logo.jpeg" alt="Crystallum logo">
            <ul class="d-flex flex-row gap-2 lr" style="list-style-type: none;">
                <li><a href=""> Login</a></li>
                <span>/</span>
                <li><a href=""> Register</a></li>
            </ul>
        </div>
        <!-- Nav -->
        <div class="navbar mt-5 border-bottom border-2">
            <a href="">Crystals</a>
            <a href="">Singing Bowls, Sage, and More</a>
            <a href="">Reiki Near You</a>
        </div>
        <div class="center d-flex flex-row justify-content-around mt-5">
            <!-- img with border right -->
            <img class="border-right" src="../static/img/amethyst.jpg" alt="" style="height: 300px; width: 300px;">
            <table>
                <tr>
                    <th>Crystal:</th>
                    <td>{{gem.name}}</td>
                </tr>
                <tr>
                    <th>item Attr</th>
                    <td>{{gem.attributes}}</td>
                </tr>
                <tr>
                    <th>Uses</th>
                    <td>Uses</td>
                </tr>
            </table>
        </div>
        <div class="desc mt-5" style="margin: 0 auto; width: 600px;">
            <p class="text-center"><u>Description</u></p>
        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>