<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crystallum</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="{{ url_for('static', filename='css/style.css') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <!-- header -->
    <div class="cont" style="width: 1000px; margin: 0 auto;">
        <div class="header d-flex flex-row align-items-center justify-content-between border-bottom">
            <img class="logo" src="{{ url_for('static', filename='img/logo.jpeg') }}" alt="Crystallum logo">
        </div>
        <!-- Nav -->
        <div class="navbar mt-5 border-bottom border-2">
            <a href="/">Home</a>
            <a href="/crystals">Crystals</a>
            <a href="/items">Singing Bowls, Sage, and More</a>
        </div>
        <div class="div text-center mt-5 crystal">
            <h1><u>Singing Bowls, Sage, and More!</u></h1>
        </div>
        <div class="div d-flex flex-row flex-wrap justify-content-between mt-5 gap-3" style="width: 750px; margin: 0 auto;">
            {%for thing in items%}
            <div class="cryblock d-flex flex-column align-items-center gap-2">
                <div class="try"><a href="/items/show/{{thing.id}}">
                        <img src="{{ url_for('static', filename='img/'+thing.attributes) }}" alt="" class="border border-1 border-dark">
                </div>
                <p>{{thing.name}}</p>
                </a>
            </div>
            {%endfor%}
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>